.companyImage {
  padding: var(--padding4) 0 0 0;
  display: flex;
  flex-direction: column;
}

.companyImage span {
  color: var(--green);
}

.content {
  display: flex;
}

.card {
  padding: 0 2rem 0 0;
  width: 100%;
}

.text {
  padding: 1rem 0 0 0;
}

.content img {
  width: 100%;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .card {
    padding: 2rem 0 0 0;
  }
  .content div:nth-child(1) {
    padding: 0;
  }
}
