.advantages {
  padding: var(--padding8) 1.5rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 100%;
  margin: auto;
}

.advantages span {
  color: var(--green);
}

.content {
  display: flex;
}

.advantages h1 {
  text-align: center;
}

@media (max-width: 768px) {
  .advantages {
    width: 100%;
    padding: var(--padding4) 1.5rem;
  }

  .content {
    flex-direction: column;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .advantages {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .advantages {
    width: 100%;
  }
}
