.card {
  width: 300px;
  margin: 0 1rem;
}

.card h4 {
  margin-top: 10px;
}

.card p {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.card i {
  margin-top: 5px;
}

.buttons a {
  color: var(--green);
  display: flex;
  align-items: center;
}

.image {
  width: auto;
}

.image img {
  border-radius: 2px;
  height: 170px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    margin: 4rem 0 0 0;
  }
  .image img {
    height: 220px;
  }
}
