.logo img {
  width: 100%;
}

@media (max-width: 768px) {
  .logo {
    z-index: 3;
  }
  .logo img {
    width: 70%;
    margin-left: 1.5rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .logo {
    z-index: 3;
  }
  .logo img {
    width: 70%;
    margin-left: 1.5rem;
  }
}
