.paper {
  text-align: center;
  padding: 2rem 0;
}

.paper p {
  margin: 0 1rem;
  font-weight: 400;
  line-height: 1.75;
  font-size: 14px;
}

.paper img {
  margin-bottom: 10px;
}

.card i {
  margin-top: 5px;
  margin-left: 3px;
}

.buttons a {
  color: var(--green);
  display: flex;
  align-items: center;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
