.paper {
  text-align: center;
  padding: 2rem 0;
}

.paper p {
  margin: 1px;
  font-weight: 400;
  font-size: 1rem;
}

.paper img {
  margin-bottom: 10px;
}

.buttons a {
  color: var(--green);
  display: flex;
  align-items: center;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
