.chiropracticText {
  padding: 0 0 var(--padding2) 0;
  display: flex;
  align-items: center;
}

.chiropracticText p {
  font-size: 14px;
}

.chiropracticText h3 {
  color: var(--green);
}

.image {
  margin-right: 2rem;
  width: 50%;
}

.text {
  width: 50%;
}

.image img {
  max-width: 100%;
  border-radius: 3px;
}
