.chiropracticText {
  padding: 0 0 var(--padding2) 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.chiropracticText p {
  font-size: 14px;
}

.chiropracticText h3 {
  color: var(--blue);
}

.image {
  margin-right: 2rem;
  width: 50%;
}

.text {
  width: 100%;
}

.image img {
  max-width: 100%;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .text {
    width: 100%;
  }
  .image {
    width: 100%;
    margin-right: 0;
  }
  .chiropracticText {
    flex-direction: column;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}
