.title {
  /*border-bottom: 1px solid rgba(50, 50, 50, 0.1);*/
  padding-bottom: var(--padding4);
  width: 60%;
  margin: auto;
  padding: var(--padding8) 1.5rem 0 1.5rem;
}

.buttons {
  display: flex;
  margin-top: 3rem;
}

.title h1 {
  margin: 0 0 var(--padding4) 0;
}

@media (max-width: 768px) {
  .title {
    padding: var(--padding4) 1.5rem 0 1.5rem;
    width: 100%;
  }
  .buttons {
    justify-content: center;
  }
}
