.firstIcon i {
  display: none;
  color: var(--blue);
  right: 30px;
  top: 25px;
  font-size: var(--size8);
  cursor: pointer;
  z-index: 3;
  position: absolute;
}

.firstIcon {
  display: none;
}

.secondIcon i {
  position: absolute;
  display: none;
  color: var(--blue);
  right: 30px;
  top: 25px;
  font-size: var(--size8);
  cursor: pointer;
  z-index: 3;
}

.menuOpen {
  z-index: 1;
  transition: all 300ms ease-out;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  background-color: var(--white);
}

.menuOpen ul {
  margin: 5rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--lightgrey);
}

.menuOpen li {
  margin: 5px 0;
}

.menuOpen a {
  font-size: var(--size4);
}

@media (max-width: 768px) {
  .menuLinks {
    display: flex;
  }
  .menu {
    display: flex;
  }
  .firstIcon i,
  .secondIcon i {
    display: flex;
  }
  .firstIcon {
    display: flex;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .menuLinks {
    display: flex;
  }
  .menu {
    display: flex;
  }
  .firstIcon i,
  .secondIcon i {
    display: flex;
  }
  .firstIcon {
    display: flex;
  }
}
