.contact {
  display: flex;
  width: 60%;
  height: auto;
  flex-direction: column;
}

.sundsvall {
  display: flex;
  margin-bottom: var(--padding4);
}

.ostersund {
  display: flex;
}

.contact h1 {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contact span {
  color: var(--green);
}

.content {
  background-color: var(--blue);
  border-radius: 3px;
}

.content ul {
  padding: 0;
  margin: 0;
}

.content div {
  border-bottom: 0.5px solid var(--lightblue);
}

.content div:nth-child(4) {
  border-bottom: 0;
}

.switch {
  display: flex;
  align-items: center;
}

.switch h3 {
  margin-bottom: 0;
}

.switch span {
  margin-right: 1rem;
  width: 120px;
}

.btn {
  margin-bottom: 1rem;
}

.btn input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.btn label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: var(--blue);
  display: block;
  border-radius: 100px;
  position: relative;
}

.btn label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.btn input:checked + label {
  background: var(--blue);
}

.btn input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.btn label:active:after {
  width: 130px;
}

@media (max-width: 768px) {
  .sundsvall {
    flex-direction: column;
  }
  .ostersund {
    flex-direction: column;
  }
  .contact {
    width: 100%;
  }
  .contact h1 {
    width: 100%;
  }
}
