.content h4 {
  color: var(--green);
  margin: 10px 0 0 0;
}

.content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content li {
  display: flex;
  align-items: center;
}

.content i {
  margin-right: 5px;
  color: var(--lightblue);
}

.content {
  display: flex;
  flex-direction: column;
}

.educationText {
  width: 40%;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .educationText {
    width: 100%;
    padding: 0;
  }
}
