.massageText p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
}

.massageText {
  width: 60%;
  padding: 0 1rem;
}

.buttons {
  display: flex;
  margin-top: 3rem;
}

.listText ul {
  text-decoration: none;
  padding: 0;
}

.massageText span {
  color: var(--green);
}

@media (max-width: 768px) {
  .massageText {
    width: 100%;
    padding: 0;
  }
}
