.topImage {
  height: 250px;
  background-position: center;
  background-size: cover;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.topImage h1 {
  color: var(--white);
  margin: 0;
}

.kiropraktik h1 {
  margin: var(--padding4) 0;
  text-align: center;
}

.kiropraktik span {
  color: var(--green);
}

.content {
  padding-bottom: 3rem;
}
