.content {
  padding: var(--padding8) 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.topImage {
  height: 250px;
  background-position: center;
  background-size: cover;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.topImage h1 {
  color: var(--white);
  margin: 0;
}
