.topImage {
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--padding8);
}

.listText ul,
.sideText ul {
  list-style: none;
  padding: 0;
}

.listText,
.sideText {
  width: 100%;
  padding-top: 10px;
}

.listText i {
  margin-right: 5px;
}

.sideText {
  padding: 0 1rem;
  width: 30%;
}

.text,
.laserText {
  padding: 0 1rem;
  display: flex;
  width: 70%;
  flex-direction: column;
}

.text div:nth-child(2),
.text div:nth-child(4),
.text div:nth-child(5) {
  padding-top: 2rem;
}

.laserText div:nth-child(2) {
  padding-top: 2rem;
}

.topImage h1 {
  padding: 0 1.5rem;
  color: var(--white);
  margin: 0;
}

.foretag h1 {
  text-align: center;
}

.foretag span {
  color: var(--green);
}

.foretag {
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.images {
  width: 60%;
  padding: 0 1.5rem var(--padding8) 1.5rem;
}

.content {
  display: flex;
  width: 60%;
  margin: auto;
  padding: 0 1.5rem;
  justify-content: center;
}

.buttons {
  display: flex;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    flex-direction: column;
  }
  .topImage h1 {
    font-size: var(--size8);
  }
  .buttons {
    justify-content: center;
  }
  .text,
  .laserText {
    width: 100%;
    padding: 0;
  }
  .sideText {
    width: 100%;
    padding: 0;
  }
  .images {
    width: 100%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}
