.aboutPage {
  display: flex;
  padding: var(--padding8) 1.5rem 3rem 1.5rem;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60%;
  display: flex;
}

.staff {
  padding: var(--padding8) 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.staffContent {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5rem;
  justify-content: center;
}
