.aboutPage {
  display: flex;
  padding: var(--padding8) 1.5rem 3rem 1.5rem;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60%;
  display: flex;
}

.staff {
  padding: var(--padding8) 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.staffContent {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 100%;
  }
  .staff {
    width: 100%;
    padding: var(--padding8) 0 0 0;
  }
  .staffContent {
    padding: 0;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}
