.contactSlider {
  margin: auto;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactSlider ul {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.contact {
  align-items: center;
  display: flex;
  margin: 0 2rem;
}

.contact h4 {
  margin: 0;
  color: white;
}
.contact p {
  font-weight: 400;
  margin: 0;
  color: white;
}

.contactSlider i {
  color: var(--lightblue);
  font-size: 2.5rem;
  margin-right: 1rem;
}
